@model Azure_PV111.Models.Home.Search.HomeSearchViewModel
@{
    ViewData["Title"] = "Seacrh";
}
<h1 class="display-4">Когнітивні сервіси на прикладі пошуку</h1>
<p>
    Робота з сервісом починається з додавання його у порталі.
    Після вибору сервісу, даємо йому назву та вибираємо прайс-план.
    Коли сервіс готовий, до нього додається приклад використання
    (Sample Code) та документація (Tutorials).
    Сервіси вимагають авторизації з передачею ключа з використанням
    НТТР-заголовку "Ocp-Apim-Subscription-Key". Відомомсті про ключі
    доступні у порталі на сторінці сервісу у розділі "Keys and endpoint"
</p>
<p>
    Дані авторизації (ключі та ендпоїнти) слід захищати від публікації
    на репозиторіях. Для цього створюється окремий конфігураційний файл,
    який вилучається з репозиторію (додається до виключень .gitignore).
    Також цей файл додається до конфігурації застосунку у program.cs
</p>
<p>
    Кожен сервіс надає інформацію (відповіді) за власною структурою,
    характерною саме для цього сервісу. Структура даних досить 
    ієрархічна, класів ORM виходить велика кількість. Простіше за все
    скористатись автоматичним ORM-парсером, наприклад, онлайн-конвертером.
    Результати парсингу бажано зберігти під окремим простором імен
    для запобігання конфліктів з іншими ORM з такою ж назвою.
</p>

<form class="row g-3">
    <div class="col-auto mb-2">
        Введіть що шукати:
    </div>
    <div class="col-auto">
        <label for="inputSearch" class="visually-hidden">Фрагмент</label>
        <input type="text" 
               class="form-control" 
               id="inputSearch" 
               name="search"
               placeholder="Пошуковий рядок"
               value="IT Step Academy">
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-secondary mb-3">Пошук</button>
    </div>
</form>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Web pages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="ImageSearch">Images</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

@if(Model.WebSearchResponse != null)
{
    <p>
        За запитом @(Model.WebSearchResponse.queryContext.originalQuery)
        знайдено @(Model.WebSearchResponse.webPages.totalEstimatedMatches)
        сторінок
    </p>
    @for(int i = 1; i < 10; ++i)
    {
        if(i == Model.page)
        {
            <b>@i</b>
        }
        else
        {
            <a href="?page=@i&search=@(Model.WebSearchResponse.queryContext.originalQuery)">@i</a>
        }        
    }

    int n = 1;    
    @foreach(var value in Model.WebSearchResponse.webPages.value)
    {
        <div class="mb-4">
            <i>@(Model.offset + n++). @value.displayUrl</i><br />
            <a href="@(@value.url)">@value.name</a>
            <p class="text-muted">@value.snippet</p>            
        </div>
    }
}
<p>
    @Model.ErrorMessage
</p>
