@using System.Text.Json.Nodes;
@{
    ViewData["Title"] = "Translator";
    var langs = (ViewData["langs"] as JsonNode).AsObject()["translation"].AsObject().AsEnumerable();
    Dictionary<String, String> scripts = new();
    foreach (var item in (ViewData["langs"] as JsonNode)
                            .AsObject()["transliteration"]
                            .AsObject().AsEnumerable())
    {
        scripts.Add(
            item.Key,
            item.Value.AsObject()["scripts"].AsArray()[0]
                .AsObject()["code"].GetValue<String>()
        );
    }
}
<h1 class="display-4">Когнітивні сервіси на прикладі перекладача</h1>

<div class="row">
    <div class="col-5">
        <select class="form-select" id="translator-lang-from">
            @foreach (var item in langs)
            {
                String value = item.Value.AsObject()["name"].GetValue<String>();
                if (item.Key == "uk")
                {
                    <option value="@(item.Key)" selected >@value</option>
                }
                else
                {
                    <option value="@(item.Key)" >@value</option>
                }
            }
        </select>
        <div class="mb-3">
            <textarea class="form-control" rows="3" id="translator-input">Привіт, світ</textarea>
        </div>
    </div>
    <div class="col-1 text-center">
        <button class="btn btn-outline-secondary mb-1" id="translator-switch"><i class="bi bi-arrow-left-right"></i></button>
        <button class="btn btn-outline-success mb-1" id="translator-translate"><i class="bi bi-arrows-fullscreen"></i></button>
        <button class="btn btn-outline-info" id="translator-transliterate"><i class="bi bi-spellcheck"></i></button>
    </div>
    <div class="col-5">
        <select class="form-select" id="translator-lang-to">
            @foreach (var item in langs)
            {
                String value = item.Value.AsObject()["name"].GetValue<String>();
                String scriptCode =
                scripts.ContainsKey(item.Key)
                ? scripts[item.Key]
                : "";
                if (item.Key == "en")
                {
                    <option value="@(item.Key)" selected data-script="@scriptCode">@value</option>
                }
                else
                {
                    <option value="@(item.Key)" data-script="@scriptCode">@value</option>
                }
            }
        </select>
        <div class="mb-3">
            <textarea class="form-control" rows="3" id="translator-output" disabled></textarea>
        </div>
    </div>
</div>
Д.З. Транслітератор
Реалізувати відображення результатів транслітерації у вікні 
з результатом перекладу (з нового рядку).
Також обробити помилкову відповідь сервісу, у такому разі
видати повідомлення про збій транслітерації
** Детектувати повторний натиск кнопки транслітерації, у
   такому не виконувати ніяких дій
