@using System.Text.Json.Nodes;
@{
    ViewData["Title"] = "Translator";
    var langs = (ViewData["langs"] as JsonNode).AsObject()["translation"].AsObject().AsEnumerable();
    Dictionary<String, String> scripts = new();
    foreach (var item in (ViewData["langs"] as JsonNode)
                            .AsObject()["transliteration"]
                            .AsObject().AsEnumerable())
    {
        scripts.Add(
            item.Key,
            item.Value.AsObject()["scripts"].AsArray()[0]
                .AsObject()["code"].GetValue<String>()
        );
    }
}
<h1 class="display-4">Когнітивні сервіси на прикладі перекладача</h1>

<div class="row">
    <div class="col-5">
        <select class="form-select" id="translator-lang-from">
            <option value="auto" selected>Auto detect</option>
            @foreach (var item in langs)
            {
                String value = item.Value.AsObject()["name"].GetValue<String>();
                String scriptCode =
                    scripts.ContainsKey(item.Key)
                        ? scripts[item.Key]
                        : "";
                <option value="@(item.Key)" data-script="@scriptCode">@value</option>
            }
        </select>
        <div class="mb-3">
            <textarea class="form-control" rows="3" id="translator-input">Привіт, світ</textarea>
        </div>
    </div>
    <div class="col-1 text-center">
        <button class="btn btn-outline-secondary mb-1" id="translator-switch"><i class="bi bi-arrow-left-right"></i></button>
        <button class="btn btn-outline-success mb-1" id="translator-translate"><i class="bi bi-arrows-fullscreen"></i></button>
        <button class="btn btn-outline-info" id="translator-transliterate"><i class="bi bi-spellcheck"></i></button>
    </div>
    <div class="col-5">
        <select class="form-select" id="translator-lang-to">
            @foreach (var item in langs)
            {
                String value = item.Value.AsObject()["name"].GetValue<String>();
                String scriptCode =
                scripts.ContainsKey(item.Key)
                ? scripts[item.Key]
                : "";
                if (item.Key == "en")
                {
                    <option value="@(item.Key)" selected data-script="@scriptCode">@value</option>
                }
                else
                {
                    <option value="@(item.Key)" data-script="@scriptCode">@value</option>
                }
            }
        </select>
        <div class="mb-3">
            <textarea class="form-control" rows="3" id="translator-output" disabled></textarea>
        </div>
    </div>
</div>
<label>
    <input type="checkbox" id="translator-selection"/>
    Автоматично перекладати виділене
</label>
<br />
<label>
    <input type="checkbox" id="transliterator-selection" />
    Автоматично транслітерувати виділене
</label>
<br />
Д.З. Транслітератор
Реалізувати відображення результатів транслітерації у вікні 
з результатом перекладу (з нового рядку).
Також обробити помилкову відповідь сервісу, у такому разі
видати повідомлення про збій транслітерації
** Детектувати повторний натиск кнопки транслітерації, у
   такому не виконувати ніяких дій
<p lang="ko">
    모든 사람은 교육을 받을 권리를 가진다 . 교육은 최소한 초등 및 기초단계에서는 무상이어야 한다. 초등교육은 의무적이어야 한다. 기술 및 직업교육은 일반적으로 접근이 가능하여야 하며, 고등교육은 모든 사람에게 실력에 근거하여 동등하게 접근 가능하여야 한다.
    2) 교육은 인격의 완전한 발전과 인권과 기본적 자유에 대한 존중의 강화를 목표로 한다. 교육은 모든 국가 , 인종 또는 종교 집단간에 이해, 관용 및 우의를 증진하며 , 평화의 유지를 위한 국제연합의 활동을 촉진하여야 한다.
    3) 부모는 자녀에게 제공되는 교육의 종류를 선택할 우선권을 가진다 .
</p>